@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
nav,
section,
article,
header,
footer,
main,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption,
dialog {
  margin: 0;
  padding: 0;
}

body,
textarea,
button,
img,
fieldset,
dialog {
  border: none;
}

textarea {
  resize: none;
}

ul,
ol,
li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

address,
cite,
code,
em,
i {
  font-style: normal;
  font-weight: normal;
}

u,
ins,
a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
}

/* Normalize */
input[type=number],
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
textarea {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type=date] {
  position: relative;
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  color: transparent;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

input[type=date]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type=date]:valid::before {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  font-family: "Noto Sans KR", sans-serif;
}

.rounded55 {
  border-radius: 5.5rem;
}

.rounded60 {
  border-radius: 6rem;
}

.ally-hidden {
  overflow: hidden;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.mx-auto {
  margin: 0 auto;
}

.mx16 {
  margin-inline: 1.6rem;
}

.mt7 {
  margin-top: 0.7rem;
}

.mt8 {
  margin-top: 0.8rem;
}

.mt9 {
  margin-top: 0.9rem;
}

.mt10 {
  margin-top: 1rem;
}

.mt11 {
  margin-top: 1.1rem;
}

.mt12 {
  margin-top: 1.2rem;
}

.mt14 {
  margin-top: 1.4rem;
}

.mt15 {
  margin-top: 1.5rem;
}

.mt20 {
  margin-top: 2rem;
}

.mt24 {
  margin-top: 2.4rem;
}

.mt30 {
  margin-top: 3rem;
}

.mt35 {
  margin-top: 3.5rem;
}

.mt60 {
  margin-top: 6rem;
}

.ml6 {
  margin-left: 0.6rem;
}

.ml12 {
  margin-left: 1.2rem;
}

.px16 {
  padding-inline: 1.6rem;
}

.px20 {
  padding-inline: 2rem;
}

.px26 {
  padding-inline: 2.6rem;
}

.px30 {
  padding-inline: 3rem;
}

.pt24 {
  padding-top: 2.4rem;
}

.pt30 {
  padding-top: 3rem;
}

.gap4 {
  gap: 0.4rem;
}

.gap8 {
  gap: 0.8rem;
}

.gap12 {
  gap: 1.2rem;
}

.gap15 {
  gap: 1.5rem;
}

.align {
  display: flex;
}
.align.right {
  justify-content: flex-end;
}
.align.center {
  justify-content: center;
}
.align.both {
  justify-content: space-between;
}
.align.triple {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.align.triple > :nth-child(1) {
  justify-self: start;
}
.align.triple > :nth-child(2) {
  justify-self: center;
}
.align.triple > :nth-child(3) {
  justify-self: end;
}
.align.vt {
  align-items: flex-start;
}
.align.vm {
  align-items: center;
}
.align.vb {
  align-items: flex-end;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.fix-bottom-type1 {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: var(--z, 1);
  width: 100%;
  height: 6.3rem;
  padding: 0 5.3rem;
  box-sizing: border-box;
  background-color: white;
}
.fix-bottom-type1 ul {
  display: flex;
}
.fix-bottom-type1 li {
  flex: 1;
}
.fix-bottom-type1 li button {
  width: 100%;
  height: 100%;
}
.fix-bottom-type1 li.home {
  background: url(../images/ico_home.svg) no-repeat center;
  display: inline-block;
  width: 2rem;
  height: 6.3rem;
}
.fix-bottom-type1 li.location {
  background: url(../images/ico_location-gray-large.svg) no-repeat center;
  display: inline-block;
  width: 2rem;
  height: 6.3rem;
}
.fix-bottom-type1 li.bookmark {
  background: url(../images/ico_bookmark.svg) no-repeat center;
  display: inline-block;
  width: 1.5rem;
  height: 6.3rem;
}
.fix-bottom-type1 li.mypage {
  background: url(../images/ico_mypage.svg) no-repeat center;
  display: inline-block;
  width: 1.6rem;
  height: 6.3rem;
}

.fix-bottom-type2 {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: var(--z, 1);
  display: flex;
  align-items: center;
  width: 100%;
  height: 8.1rem;
  padding: 0 2rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 1rem 1rem 0 0;
  box-sizing: border-box;
  background-color: white;
}
.fix-bottom-type2:has(.totalprice-txt) {
  display: flex;
  justify-content: space-between;
}
.fix-bottom-type2 .totalprice-txt p {
  color: #2a2b3f;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.44rem;
}
.fix-bottom-type2 .totalprice-txt span {
  color: #8c8c8c;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.248rem;
}
.fix-bottom-type2 .totalprice-txt .price {
  color: #006EFF;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.4rem;
}

body:has(.fix-bottom-type1) {
  padding-bottom: var(--pb, 6.3rem);
}
body:has(.fix-bottom-type2) {
  padding-bottom: var(--pb, 11.6rem);
}

.header-type1 {
  display: grid;
  align-items: center;
  grid-template-columns: 4rem 1fr 4rem;
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  box-sizing: border-box;
}
.header-type1__left {
  height: 4rem;
}
.header-type1__right {
  height: 4rem;
}
.header-type1 h1 {
  color: #122d4d;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.728rem;
  text-align: center;
}

.header-type2 {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  box-sizing: border-box;
}
.header-type2__right {
  display: flex;
  gap: 1rem;
}

.logo {
  background: url(../images/logo.svg) no-repeat center;
  display: inline-block;
  width: 26.1rem;
  height: 6.5rem;
}

.list-type1 li {
  border-radius: 1.5rem;
  box-shadow: 0px 51px 14px 0px rgba(0, 32, 96, 0), 0px 32px 13px 0px rgba(0, 32, 96, 0), 0px 18px 11px 0px rgba(0, 32, 96, 0.01), 0px 8px 8px 0px rgba(0, 32, 96, 0.02), 0px 2px 4px 0px rgba(0, 32, 96, 0.02), 0px 0px 0px 0px rgba(0, 32, 96, 0.02);
  background: white;
  overflow: hidden;
}
.list-type1__thumb {
  border-radius: 1.5rem;
  overflow: hidden;
}
.list-type1__thumb img {
  width: 100%;
  height: 100%;
}
.list-type1__content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 1.3rem 1rem 1.5rem;
}
.list-type1__text {
  display: grid;
  gap: 0.9rem;
}

.list-type2 li {
  width: 100%;
  padding: 1rem;
  border-radius: 1.5rem;
  box-sizing: border-box;
  background: white;
  box-shadow: 0px 51px 14px 0px rgba(0, 32, 96, 0), 0px 32px 13px 0px rgba(0, 32, 96, 0), 0px 18px 11px 0px rgba(0, 32, 96, 0.01), 0px 8px 8px 0px rgba(0, 32, 96, 0.02), 0px 2px 4px 0px rgba(0, 32, 96, 0.02), 0px 0px 0px 0px rgba(0, 32, 96, 0.02);
}
.list-type2 a {
  display: flex;
  gap: 1rem;
}
.list-type2__thumb {
  width: 9rem;
  height: 9rem;
}
.list-type2__content {
  width: calc(100% - 1rem - 9rem);
}
.list-type2 .view {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.list-type2 .view::before {
  background: url(../images/ico_view.svg) no-repeat center;
  content: "";
  display: inline-block;
  width: 1.3rem;
  height: 1rem;
}
.list-type2 .bed {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.list-type2 .bed::before {
  background: url(../images/ico_bed.svg) no-repeat center;
  content: "";
  display: inline-block;
  width: 1.4rem;
  height: 1rem;
}

.list-type3 {
  display: grid;
  gap: 1.8rem;
}
.list-type3.col1 {
  grid-template-columns: repeat(1, 1fr);
}
.list-type3.col2 {
  grid-template-columns: repeat(2, 1fr);
}
.list-type3.col3 {
  grid-template-columns: repeat(3, 1fr);
}
.list-type3.col4 {
  grid-template-columns: repeat(4, 1fr);
}
.list-type3.col5 {
  grid-template-columns: repeat(5, 1fr);
}
.list-type3__thumb img {
  width: 100%;
}
.list-type3__content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0.8rem;
}

.list-type4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem 0;
}
.list-type4.col1 {
  grid-template-columns: repeat(1, 1fr);
}
.list-type4.col2 {
  grid-template-columns: repeat(2, 1fr);
}
.list-type4.col3 {
  grid-template-columns: repeat(3, 1fr);
}
.list-type4.col4 {
  grid-template-columns: repeat(4, 1fr);
}
.list-type4.col5 {
  grid-template-columns: repeat(5, 1fr);
}
.list-type4 li {
  display: grid;
  justify-content: center;
  text-align: center;
  border-radius: 1.2rem;
  box-shadow: 0px 51px 14px 0px rgba(0, 32, 96, 0), 0px 32px 13px 0px rgba(0, 32, 96, 0), 0px 18px 11px 0px rgba(0, 32, 96, 0.01), 0px 8px 8px 0px rgba(0, 32, 96, 0.02), 0px 2px 4px 0px rgba(0, 32, 96, 0.02), 0px 0px 0px 0px rgba(0, 32, 96, 0.02);
  background-color: white;
}
.list-type4__bg.bed {
  background: url(../images/bg_bed-blue.svg) no-repeat center;
  width: 2.111rem;
  height: 1.5834rem;
  margin: 0 auto;
}
.list-type4__count {
  color: #006EFF;
  font-size: 1.1rem;
  font-weight: 500;
}
.list-type4__category {
  color: #6b6b6b;
  font-size: 1rem;
}

.list-type5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.list-type5 li {
  display: grid;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: white;
  border-radius: 1.2rem;
  box-shadow: 0px 51px 14px 0px rgba(0, 32, 96, 0), 0px 32px 13px 0px rgba(0, 32, 96, 0), 0px 18px 11px 0px rgba(0, 32, 96, 0.01), 0px 8px 8px 0px rgba(0, 32, 96, 0.02), 0px 2px 4px 0px rgba(0, 32, 96, 0.02), 0px 0px 0px 0px rgba(0, 32, 96, 0.02);
}
.list-type5 li.car::before {
  background: url(../images/bg_car.svg) no-repeat center;
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 auto;
}
.list-type5 li.aaa::before {
  background: url(../images/cdd) no-repeat center;
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 auto;
}
.list-type5__desc {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #6b6b6b;
  font-size: 1rem;
  font-weight: 500;
}

.list-type6 {
  display: grid;
  gap: 1rem;
}
.list-type6.col1 {
  grid-template-columns: repeat(1, 1fr);
}
.list-type6.col2 {
  grid-template-columns: repeat(2, 1fr);
}
.list-type6.col3 {
  grid-template-columns: repeat(3, 1fr);
}
.list-type6.col4 {
  grid-template-columns: repeat(4, 1fr);
}
.list-type6.col5 {
  grid-template-columns: repeat(5, 1fr);
}
.list-type6 a {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 0.534rem;
  overflow: hidden;
}
.list-type6 img {
  width: 100%;
  height: 100%;
}

.ico-location {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.ico-location.blue::before {
  background: url(../images/ico_location-blue.svg) no-repeat center;
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 1rem;
  color: #415770;
  font-size: 1rem;
  font-weight: 500;
  line-height: 96%;
}
.ico-location.gray::before {
  background: url(../images/ico_location-gray.svg) no-repeat center;
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1.4rem;
  color: #b9b9b9;
  font-size: 1.1rem;
  line-height: 96%;
}
.ico-location.black::before {
  background: url(../images/ico_location-black.svg) no-repeat center;
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.8rem;
  color: #2a2b3f;
  font-size: 1.3rem;
  line-height: 1.248rem;
}

.tab-type1 ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}
.tab-type1 li {
  height: 3.4rem;
  background-color: #f1f2f4;
  border-radius: 1.7rem;
  color: #314865;
  font-size: 1rem;
  font-weight: 600;
  line-height: 96%;
  overflow: hidden;
}
.tab-type1 li button {
  width: 100%;
  height: 100%;
  padding: 0 1.8rem;
}
.tab-type1 li button.--active {
  color: #308dff;
  background-color: #e5f1ff;
}

.tab-type2 ul {
  display: flex;
}
.tab-type2 li {
  flex: 1;
  text-align: center;
}
.tab-type2 button {
  width: 100%;
  height: 4.1rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;
  background-image: linear-gradient(to bottom, #D6E9FC, #D6E9FC);
  background-size: 100% 0.2rem;
  background-repeat: no-repeat;
  background-position: bottom;
}
.tab-type2 button.--active {
  color: #006EFF;
  background-image: linear-gradient(to bottom, #006EFF, #006EFF);
}

.tab-type3 ul {
  display: flex;
  gap: 0.9rem;
}
.tab-type3 button {
  height: 3.3rem;
  padding: 0 1.8rem;
  color: #242424;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 14.69px;
  border-radius: 5rem;
  background-color: #F4F6F9;
}
.tab-type3 button.--active {
  color: white;
  background-color: #246BFD;
}

.heading-type1 {
  color: #122d4d;
  font-size: 2rem;
  font-weight: 700;
  line-height: 96%;
}

.heading-type2 {
  color: #2a2b3f;
  font-size: 2rem;
  font-weight: 600;
  line-height: 96%;
}

.heading-type3 {
  color: #091130;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.7rem;
}

.heading-type4 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.75rem;
}

.heading-type5 {
  color: #2a2b3f;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.344rem;
}

.heading-type5 {
  color: #122d4d;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.536rem;
}

.text-type1 {
  color: #2f2f2f;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 96%;
}

.text-type2 {
  color: #06f;
  font-size: 1.1rem;
  line-height: 96%;
}
.list-type2 .text-type2 {
  font-weight: 600;
}

.text-type3 {
  color: #b9b9b9;
  font-size: 1.1rem;
  line-height: 96%;
}

.text-type4 {
  color: #478ff1;
  font-size: 1rem;
  font-weight: 500;
  line-height: 96%;
}

.text-type5 {
  color: #122d4d;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 96%;
}

.text-type6 {
  color: #8c8c8c;
  font-size: 1.3rem;
  line-height: 96%;
}

.text-type7 {
  color: #616161;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.text-blue {
  color: #246BFD;
}

.btn-bookmark {
  background: url(../images/btn_bookmark.svg) no-repeat center;
  width: 3.3rem;
  height: 3.3rem;
}

.btn-prev {
  background: url(../images/ico_prev.svg) no-repeat center;
  display: inline-block;
  width: 4rem;
  height: 4rem;
}
.btn-prev.white {
  background-color: white;
  border-radius: 50%;
}

.btn-share {
  background: url(../images/ico_share.svg) no-repeat center;
  display: inline-block;
  width: 4rem;
  height: 4rem;
}
.btn-share.white {
  background-color: white;
  border-radius: 50%;
}

.btn-like {
  background: url(../images/ico_heart.svg) no-repeat center;
  display: inline-block;
  width: 4rem;
  height: 4rem;
}
.btn-like.white {
  background-color: white;
  border-radius: 50%;
}

.btn-search {
  background: url(../images/ico_micro.svg) no-repeat center;
  display: inline-block;
  width: 4rem;
  height: 4rem;
}
.btn-search.gray {
  background: url(../images/ico_micro-gray.svg) no-repeat center;
}

.btn-more {
  color: #989898;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.152rem;
}

.btn-viewmap {
  color: #006EFF;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.152rem;
}

.btn-email {
  background: url(../images/ico_email.svg) no-repeat center;
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
}

.btn-phone {
  background: url(../images/ico_phone.svg) no-repeat center;
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
}

.btn-fillter {
  background: url(../images/ico_fillter.svg) no-repeat center;
  display: inline-block;
  width: 5.2rem;
  height: 5.2rem;
  background-color: #309df0;
  border-radius: 1rem;
  box-shadow: 0px 36px 10px 0px rgba(48, 141, 255, 0.1019607843);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--w, 100%);
}
.btn.base {
  height: 4.6rem;
  font-size: 1.7rem;
  font-weight: 600;
}
.btn.sm {
  height: 3.2rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.btn.blue {
  background-color: #006EFF;
  color: white;
  border-color: #006EFF;
}
.btn.skyblue {
  background-color: #eaf1ff;
  color: #185FA0;
  border-color: #246BFD;
}
.btn.white {
  background-color: white;
  color: #006EFF;
  border-color: white;
}
.btn.full-size {
  width: 100%;
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #8997a9;
  font-size: 1.2rem;
  line-height: 96%;
}
.rating::before {
  background: url(../images/bg_rating.svg) no-repeat center;
  content: "";
  width: 1.3rem;
  height: 1.3rem;
}

.textarea-type1, .select-type1, .input-type1 {
  height: 4rem;
  padding: 0rem 1.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: -0.03rem;
  border-radius: 0.5rem;
  background-color: #F4F6F9;
  border: none;
  box-sizing: border-box;
}
.textarea-type1::placeholder, .select-type1::placeholder, .input-type1::placeholder {
  color: #677294;
}

.select-type2, .input-type2 {
  height: 5rem;
  padding: 0 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  border: 0.1rem solid #5c5c5c;
  border-radius: 1rem;
  box-sizing: border-box;
}
.select-type2 input, .input-type2 input {
  height: 100%;
  vertical-align: top;
  border: none;
}
.select-type2 input::placeholder, .input-type2 input::placeholder {
  color: #6a6a6a;
  font-size: 1.4rem;
  font-weight: 500;
}
.user.select-type2 input, .user.input-type2 input {
  width: calc(100% - 3rem);
  padding-left: 0.5rem;
}
.user.select-type2::before, .user.input-type2::before {
  background: url(../images/ico_user.svg) no-repeat center;
  content: "";
  display: inline-block;
  width: 2rem;
  height: 100%;
}
.key.select-type2 input, .key.input-type2 input {
  width: calc(100% - 7rem);
  padding-left: 2rem;
  color: #6a6a6a;
}
.key.select-type2::before, .key.input-type2::before {
  background: url(../images/ico_key.svg) no-repeat center;
  content: "";
  display: inline-block;
  width: 2rem;
  height: 100%;
}
.key.select-type2::after, .key.input-type2::after {
  background: url(../images/ico_eye.svg) no-repeat center;
  content: "";
  display: inline-block;
  width: 1.8rem;
  height: 100%;
}

.input-label-type1 {
  display: grid;
  gap: 0.9rem;
}
.input-label-type1 label {
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2.1528rem;
  letter-spacing: -0.03rem;
}

.input-label-type2 {
  display: grid;
  gap: 1.2rem;
}
.input-label-type2 label {
  display: block;
  font-size: 1.4rem;
  color: #091130;
  font-weight: 500;
}

.input-type1 {
  width: var(--w, 100%);
}

.input-type2 {
  width: var(--w, 100%);
}

.search-type1 {
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 0 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 0px rgba(61, 61, 61, 0.0196078431), 0px 2px 5px 0px rgba(61, 61, 61, 0.0196078431), 0px 9px 9px 0px rgba(61, 61, 61, 0.0196078431), 0px 20px 12px 0px rgba(61, 61, 61, 0.0117647059), 0px 35px 14px 0px rgba(61, 61, 61, 0), 0px 55px 15px 0px rgba(61, 61, 61, 0);
}
.search-type1 input {
  width: calc(100% - 4rem);
  height: 100%;
  border: none;
  color: #95A2B0;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.056rem;
}

.select-group1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.3rem;
}

.select-type1 {
  background: url(../images/bg_select.svg) no-repeat right 1.5rem center;
  width: var(--w, 100%);
  color: #677294;
  appearance: none;
  padding-right: 2.5rem;
  background-color: #F4F6F9;
}

.select-type2 {
  background: url(../images/bg_select.svg) no-repeat right 2rem center;
  width: var(--w, 100%);
  appearance: none;
  color: #6a6a6a;
}

.textarea-type1 {
  width: var(--w, 100%);
  height: 10rem;
  padding: 1.5rem;
}

.radio-group1 {
  display: flex;
  align-items: center;
  gap: 2.7rem;
}

.radio-group2 {
  display: grid;
  gap: 1rem;
}

.radio-label-type1 label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3.8rem;
  border-bottom: 1px solid rgba(18, 45, 77, 0.8);
}
.radio-label-type1 label::before {
  order: 1;
}
.radio-label-type1 label .cash {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.radio-label-type1 label .cash::before {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../images/ico_cash.svg) no-repeat center;
}
.radio-label-type1 label .newcard {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.radio-label-type1 label .newcard::before {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../images/ico_newcard.svg) no-repeat center;
}
.radio-label-type1 label .paypal {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.radio-label-type1 label .paypal::before {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../images/ico_paypal.svg) no-repeat center;
}
.radio-label-type1 label .applepay {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.radio-label-type1 label .applepay::before {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../images/ico_applepay.svg) no-repeat center;
}

.radio-type1 {
  overflow: hidden;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
.radio-type1 + label {
  display: inline-flex;
  align-items: center;
  gap: 1.1rem;
  color: #677294;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: -0.03rem;
}
.radio-type1 + label::before {
  background: url(../images/ico_radio_off.svg) no-repeat;
  content: "";
  width: 1.4rem;
  height: 1.4rem;
}
.radio-type1:checked + label::before {
  background: url(../images/ico_radio_on.svg) no-repeat;
}

.sns-group {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.sns-group .sns {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}
.sns-group .sns.google {
  background: url(../images/ico_google.svg) no-repeat center;
}
.sns-group .sns.apple {
  background: url(../images/ico_apple.svg) no-repeat center;
}
.sns-group .sns.facebook {
  background: url(../images/ico_facebook.svg) no-repeat center;
}

.devide-type1::after, .devide-type1::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0.1rem;
}

.devide-type1 {
  display: flex;
  align-items: center;
}
.devide-type1::before {
  background: linear-gradient(270deg, rgba(97, 97, 97, 0.75) 0%, rgba(97, 97, 97, 0) 94.39%);
}
.devide-type1::after {
  background: linear-gradient(89.99deg, rgba(97, 97, 97, 0.75) 0%, rgba(97, 97, 97, 0) 105.61%);
}
.devide-type1__title {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.688rem;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: white;
}

.devide-type2 {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
}

.profile-box span {
  display: block;
  color: #8997a9;
  font-size: 1.8rem;
  line-height: 1.728rem;
}
.profile-box b {
  color: #122d4d;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.92rem;
}

.profile-info-box {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.profile-img.sm {
  width: 3.8rem;
  height: 3.8rem;
}
.profile-img.base {
  width: 5rem;
  height: 5rem;
}
.profile-img img {
  width: 100%;
  height: 100%;
}

.profile-name {
  font-weight: 600;
}
.profile-name.sm {
  font-size: 1.1rem;
  line-height: 1.65rem;
}
.profile-name.base {
  font-size: 1.3rem;
  line-height: 1.95rem;
}

.profile-role {
  color: #8c8c8c;
  font-size: 1.1rem;
  line-height: 1.65rem;
}

.bedge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  padding: 0 0.6rem;
  background-color: #F4F6F9;
  color: #478ff1;
  font-size: 1rem;
  font-weight: 500;
  line-height: 0.96rem;
}

.thumnail {
  width: 100%;
}
.thumnail a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.thumnail img {
  width: 100%;
  height: 100%;
}
.thumnail.room {
  position: absolute;
  top: 0;
  left: 0;
  height: 92vw;
}

.login-page,
.profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-page > div,
.profile-page > div {
  width: 100%;
}

.login-form {
  display: grid;
  gap: 2rem;
}

/*# sourceMappingURL=sub.css.map */
