@use '../abstracts/' as *;

.header-type1{
    display:grid;
    align-items: center;
    grid-template-columns: rem(40) 1fr rem(40);
    width:100%;
    height:rem(40);
    padding:0 rem(10);
    box-sizing: border-box;
    &__left{
        height:rem(40);
    }
    &__right{
        height:rem(40);
    }
    h1{
        color:$blue12;
        font-size: rem(18);
        font-weight: 600;
        line-height: rem(17.28);
        text-align: center;
    }
}

.header-type2{
    display:flex;
    justify-content: space-between;
    padding: 0 rem(20);
    box-sizing: border-box;
    &__right{
        display:flex;
        gap:rem(10);
    }
}

.logo{
    @include background('logo.svg', center);
    display:inline-block;
    width:rem(261);
    height:rem(65);
}

