@use '../abstracts/' as *;

$mt: (7, 8, 9, 10, 11, 12, 14, 15, 20, 24, 30, 35, 60);
$ml: (6, 12);
$px: (16, 20, 26, 30);
$pt: (24, 30);
$gap: (4, 8, 12, 15);

.mx-auto{
    margin:0 auto;
}
.mx16{
    margin-inline: rem(16);
}

@each $margin in $mt{
    .mt#{$margin}{
        margin-top: rem($margin);
    }
}
@each $margin in $ml{
    .ml#{$margin}{
        margin-left: rem($margin);
    }
}
@each $padding in $px{
    .px#{$padding}{
        padding-inline: rem($padding);
    }
}
@each $padding in $pt{
    .pt#{$padding}{
        padding-top:rem($padding);
    }
}
@each $gap in $gap{
    .gap#{$gap}{
        gap: rem($gap);
    }
}