@use '../abstracts/' as *;

$mt: (12, 14, 20, 24);

.px16{
    padding-inline: rem(16);
}
.mx-auto{
    margin:0 auto;
}
.mx16{
    margin-inline: rem(16);
}

@each $margin in $mt{
    .mt#{$margin}{
        margin-top: rem($margin);
    }
}
