@use '../abstracts/' as *;

%devide1{
    content:"";
    display:inline-block;
    width:100%;
    height:rem(1);
}
.devide-type1{
    display:flex;
    align-items: center;
    &::before{
        @extend %devide1;
        background: linear-gradient(270deg, rgba(97, 97, 97, 0.75) 0%, rgba(97, 97, 97, 0) 94.39%);
    }
    &::after{
        @extend %devide1;
        background: linear-gradient(89.99deg, rgba(97, 97, 97, 0.75) 0%, rgba(97, 97, 97, 0) 105.61%);
    }
    &__title{
        display:flex;
        justify-content: center;
        padding:0 rem(10);
        font-size: rem(11);
        font-weight: 500;
        line-height: rem(16.88);
        white-space: nowrap;
        box-sizing: border-box;
        background-color:$white;
    }
}
.devide-type2{
    border:1px solid #0000001A;
}