@use '../abstracts/' as *;
@use 'sass:list';

//form (input) 디자인 정의
$formSettings: (
    'className': 'input-type1',
    'height': rem(40),
    'padding': rem(0) rem(15),
    'fontSize': rem(13),
    'fontWeight': 500,
    'letterSpacing': rem(-0.3),
    'borderRadius': rem(5),
    'backgroundColor': $grayf4,
    'placeholder': $blue67,
);
//radio 디자인 정의
$radioSettings:(
    1: (
        'className':'.radio-type1',
        'width':rem(14),
        'height':rem(14),
        'offImage':'ico_radio_off.svg',
        'onImage': 'ico_radio_on.svg',

    )
);
//select디자인 정의
$selectSettings:(
    'bgUrl':'bg_select.svg',
    'position':rem(15),
    'bgColor': $grayf4,
);

%form{
    height:map-get($formSettings, height);
    padding:map-get($formSettings, padding);
    font-size:map-get($formSettings, fontSize);
    font-weight:map-get($formSettings, fontWeight);
    letter-spacing: map-get($formSettings, letterSpacing);
    border-radius: map-get($formSettings, borderRadius);
    background-color: map-get($formSettings, backgroundColor);
    border:none;
    box-sizing: border-box;
    &::placeholder{
        color:map-get($formSettings, placeholder);
    }
}

%form2{
    height:rem(50);
    padding:0 rem(20);
    font-size:rem(14);
    font-weight:500;
    border:rem(1) solid #5c5c5c;
    border-radius: rem(10);
    box-sizing: border-box;
    input{
        height:100%;
        vertical-align: top;
        border:none;
        &::placeholder{
            color:#6a6a6a;
            font-size:rem(14);
            font-weight:500;
        }
    }
    &.user{
        input{
            width:calc(100% - rem(30));
            padding-left:rem(5);
        }
        &::before{
            @include background('ico_user.svg', center);
            content:"";
            display:inline-block;
            width:rem(20);
            height:100%;
        }

    }
    &.key{
        input{
            width:calc(100% - rem(70));
            padding-left:rem(20);
            color:#6a6a6a;
        }
        &::before{
            @include background('ico_key.svg', center);
            content:"";
            display:inline-block;
            width:rem(20);
            height:100%;
        }
        &::after{
            @include background('ico_eye.svg', center);
            content:"";
            display:inline-block;
            width:rem(18);
            height:100%;
        }
    }
}



//input + label 일 경우
.input-label-type1{
    display:grid;
    gap:rem(9);
    label{
        display:block;
        font-size:rem(13);
        font-weight:600;
        line-height:rem(21.528);
        letter-spacing: rem(-0.3);
    }
}
.input-label-type2{
    display:grid;
    gap:rem(12);
    label{
        display:block;
        font-size:rem(14);
        color:$gray09;
        font-weight:500;
    }
}
//input 
.input-type1{
    @extend %form;
    width:var(--w, 100%);
}
.input-type2{
    @extend %form2;
    width:var(--w, 100%);
}

//search
.search-type1{
    display:flex;
    align-items: center;
    height:rem(50);
    padding:0 rem(10);
    border-radius:rem(10);
    box-sizing: border-box;
    box-shadow: $shadow2;
    input{
        width:calc(100% - rem(40));
        height:100%;
        border:none;
        color:$gray95;
        font-size: rem(11);
        font-weight: 500;
        line-height: rem(10.56);
    }
}

//select
.select-group1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:rem(13);
}
.select-type1{
    @include background(map-get($selectSettings, bgUrl), right map-get($selectSettings, position) center);
    @extend %form;
    width:var(--w, 100%);
    color:$blue67;
    appearance: none;
    padding-right:rem(25);
    background-color:map-get($selectSettings, bgColor);
}
.select-type2{
    @include background('bg_select.svg', right rem(20) center);
    @extend %form2;
    width:var(--w, 100%);
    appearance: none;
    color:#6a6a6a;
}

//textarea
.textarea-type1{
    @extend %form;
    width:var(--w, 100%);
    height:rem(100);
    padding:rem(15);
}

//radio
.radio-group1{
    display:flex;
    align-items: center;
    gap:rem(27);
}
.radio-group2{
    display: grid;
    gap: rem(10);
}

//!이렇게 써도 되는지..!! 아님 감싸고 부모에 radio-type2를 줘서 재정의 해야될지..
// .radio-type1{
//     &.type1-1{
//         + label{
//             width:100%;
//             height:rem(38);
//             justify-content: space-between;
//             font-size:rem(14);
//             font-weight:400;
//             line-height:96%;
//             border-bottom: 1px solid rgba(18, 45, 77, 0.80);
//             &::before{
//                 order:2;
//             }
//             &.cash{
//                 div{
//                     display:flex;
//                     align-items: center;
//                     gap:rem(5);
//                     &::before{
//                         @include background('ico_cash.svg', center);
//                         content:"";
//                         display:inline-block;
//                         width:rem(24);
//                         height:rem(24);
//                     }
//                 }
//             }
//         }
//     }
// }
$icon : cash 'ico_cash.svg', newcard 'ico_newcard.svg' , paypal 'ico_paypal.svg', applepay 'ico_applepay.svg';
.radio-label-type1{
    label{
        display:flex;
        justify-content: space-between;
        width:100%;
        height:rem(38);
        border-bottom: 1px solid #122D4DCC;
        &::before{
            order:1;
        }
        @each $name, $bg in $icon {
            .#{$name}{
                display:flex;
                align-items: center;
                gap:rem(5);
                &::before{
                    content:"";
                display:inline-block;
                width:rem(24);
                height:rem(24);
                @include background($bg, center);
                }
            }
        }
        // .cash{
        //     display:flex;
        //     align-items: center;
        //     gap:rem(5);
        //     &::before{
        //         @include background('ico_cash.svg', center);
        //         content:"";
        //         display:inline-block;
        //         width:rem(24);
        //         height:rem(24);
        //     }
        // }
    }
}

// .radio-type1{
//     @include ally-hidden;
//     + label{
//         display:inline-flex;
//         align-items: center;
//         &::before{
//             @include background('ico_radio_off.svg', center);
//             content:"";
//             width:rem(14);
//             height:rem(14);
//         }
//     }
//     &:checked{
//         + label{
//             &::before{
//                 @include background('ico_radio_on.svg', center);
//             }
//         }
//     }
// }

@mixin Radio($mapName, $index) {
    #{map-get($mapName, $index, className)} {
        @include ally-hidden;
        + label{
            display:inline-flex;
            align-items: center;
            gap: rem(11);
            color:$blue67;
            font-size:rem(13);
            font-weight:500;
            letter-spacing: rem(-0.3);
            &::before{
                @include background(map-get($radioSettings, $index, offImage));
                content:"";
                width:map-get($radioSettings, $index, width);
                height:map-get($radioSettings, $index, height);
            }
        }
        &:checked{
            + label{
                &::before{
                    @include background(map-get($radioSettings, $index, onImage));
                }
            }
        }
    }
}
@for $idx from 1 through list.length($radioSettings) {
    @include Radio($radioSettings, $idx);
}
