@use '../abstracts/' as *;

.tab-type1{
    display: inline-flex;
    gap: rem(8);
    button{
        height:rem(42);
        padding:rem(0) rem(20);
        color:$gray33;
        font-size:rem(16);
        line-height:rem(22);
        background-color:$grayf8;
        border-radius:rem(30);
        &.--active{
            background: linear-gradient(114deg, #0038F5 0%, #9F03FF 100%);
            color:$white;
        }
    }
}

