@use '../abstracts/' as * ;

.text-type1{
    color:$gray55;
    font-family: Epilogue;
    font-size: rem(18);
    font-weight: 700;
    line-height: rem(28); /* 155.556% */
    letter-spacing: rem(0.75);
}
.text-type3{
    color: $gray22;;
    font-size: rem(24);
    font-weight: 700;
    line-height: rem(32); /* 133.333% */
    letter-spacing: rem(0.24);
}
.text-type4{
    color:$gray22;
    font-size: rem(16);
    line-height: rem(22); /* 137.5% */
}
.text-type5{
    color:$gray22;
    font-size:rem(24);
    font-weight:700;
    line-height:rem(32);
    letter-spacing: rem(0.24);
}
.text-type6{
    color:$gray88;
    font-size:rem(16);
    font-weight:700;
    line-height:rem(24);
}
.h2-1{
    color:$gray22;
    font-size: rem(32);
    font-weight: 700;
    line-height: rem(36); /* 112.5% */
    letter-spacing: rem(1);
}
.h2-2{
    color:$gray22;
    font-size:rem(24);
    font-weight:700;
    line-height:rem(32);
    letter-spacing: rem(0.24);
    &.icon-fire{
        &::before{
            @include background('icon_fire.svg', center);
            content:"";
            display:inline-block;
            width: rem(24);
            height: rem(24);
        }
    }
}
